<!--::regervation_part start::-->
<section class="regervation_part section_padding">
  <div class="container">
    <div class="row align-items-center regervation_content" style="box-shadow: 3px 2px 20px rgb(200,200,200,0.7);padding: 5% 5%;">
      <div class="col-lg-7">
        <div class="regervation_part_iner">
          <form>
            <h2>Login</h2>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Enter User Name"
                  #uname
                />
              </div>

              <div class="form-group col-md-12">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter Password"
                  #password
                />
              </div>
            </div>

            <div class="regerv_btn">
              <button
                class="btn_2"
                type="button"
                (click)="login(uname, password)"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="reservation_img" style="margin-left: 25%;">
          <!-- <img
            src="../../assets/img/reservation.png"
            alt=""
            class="reservation_img_iner"
          /> -->
          <img src="../../assets/img/authorization.png" width="90%" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--::regervation_part end::-->
