<!--::regervation_part start::-->
    <section class="regervation_part section_padding">
        <div class="container">
            <select class="form-control mb-3 col-7" id="allocation-algorithm" [(ngModel)]="selectType">
                <option value="patient">As Patient</option>
                <option value="doctor">As Doctor</option>
                <option value="medic">As Medical shop owner</option>
                <option value="lab">As Labratory Owner</option>
            </select>  

            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">

                        <form #PatientForm *ngIf="selectType == 'patient'">
                            <h2>Patient Registration</h2>
                            <div class="form-row">

                                
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="patientUid" placeholder="UserName">
                                </div>

                                
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" id="patientPsw" placeholder="Password">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" id="pCPsw" placeholder="Confirm Password">
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="contactNo"
                                        placeholder="Contact Number">
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="bloodType">
                                        <option selected>Slect Blood Type</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value=O+>O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                                <div class="form-group time_icon col-md-6">
                                    <input class="form-control" type="text" onfocus="this.type='Date'" onblur="this.type='text'" id="DOB" placeholder="Date of Birth">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="address" rows="4"
                                        placeholder="Address "></textarea>
                                </div>
                            </div>
                            <div class="regerv_btn">
                                <button class="btn_2" type="button" (click)="registerPatient(PatientForm)">Register</button>
                            </div>
                        </form>


                        <form #DoctorForm *ngIf="selectType == 'doctor'">
                            <h2>Doctor Registration</h2>

                            <div class="regerv_btn">
                                <button class="btn_2" type="button" (click)="registerDoctor(DoctorForm)">Register</button>
                            </div>
                        </form>


                        
                        <form #MedicForm *ngIf="selectType == 'medic'">
                            <h2>Medical Shop Registration</h2>
                            <div class="regerv_btn">
                                <button class="btn_2" type="button" (click)="registerMedic(MedicForm)">Register</button>
                            </div>
                        </form>

                        
                        <form #LabForm *ngIf="selectType == 'lab'">
                            <h2>Labratory Registration</h2>
                            <div class="regerv_btn">
                                <button class="btn_2" type="button" (click)="registerLab(LabForm)">Register</button>
                            </div>
                        </form> 
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="reservation_img">
                        <img src="../../assets/img/reservation.png" alt="" class="reservation_img_iner">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--::regervation_part end::-->
