<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Author      : @arboshiki-->
<div id="invoice">
  <div class="invoice overflow-auto">
    <div style="min-width: 600px">
      <div class="row contacts">
        <div class="col invoice-to">
          <div class="text-gray-light">Doctor:</div>
          <h2 class="to">Aayush Dakwala</h2>
          <div class="address">Hospital Name:</div>
          <div class="email">Lotus</div>
        </div>
        <div class="col invoice-details">
          <div class="text-gray-light">Patient:</div>
          <h2 class="invoice-id">PatientID</h2>
          <div class="date">Date : 01/10/2018</div>
        </div>
      </div>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>#</th>
            <th class="text-left">MEDICINE</th>
            <th class="text-right">DOUSES</th>
            <th class="text-right">BEFOR/AFTER FOOD</th>
            <th class="text-right">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="no">04</td>
            <td class="text-left">
              <h3>
                Medicine1
              </h3>
              any description for Medicine1
            </td>
            <td class="unit">X-X-X</td>
            <td class="qty">After</td>
            <td class="total">(No. of Medicine)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
