<!-- {{ responsedData | json }} -->
<br><br><br><br><br><br>
<form enctype="multipart/form-data" method="post">
<p-table
  #dt
  [columns]="columnDefs"
  [value]="rowData"
  [paginator]="true"
  [rows]="30"
  class="table"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width:auto"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        scope="col"
        *ngFor="let col of columnDefs"
        [pSortableColumn]="col.field"
      >
        {{ col.header }}

        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        ></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columnDefs">
    <tr scope="row">
      <td *ngFor="let col of columnDefs" (click)="onClick(rowData[col.field])">
        {{ rowData[col.field] }}
      </td>
      <td>
        <input
          type="file"
          class="form-control"
          #fileInput
          multiple
          name="images"
          (change)="onFileSelected($event)"
        />


      </td>
      <td>
        <button class="btn_2" type="submit" (click)="upload(rowData.userId,rowData._id)">
          Upload 
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
</form>